# Node modules
node_modules/

# Environment files
.env
.env.*

# VSCode settings
.vscode/

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Ignore Google Cloud credentials
backend/google-key.json
