/* src/App.css */

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

main {
  width: 100%;
  overflow-x: hidden;
}